body {
  font-size: 18px;
  margin: 5px;
}
h1 {
  font-size: 30px;
}

img {
    max-width: 100%;
}

figure {
    margin: 20px;
    /* display: inline-block; */
    
}

@media screen and (min-width: 800px) {
  body {
    background-color: cornflowerblue;
    font-size: 21px;
    margin: 15px;
  }

  figure {
    display: inline-block;
    width: 40%;
  }

}